@font-face {
    font-family: "Minecraft Ten";
    src: url(fonts/MinecraftTen-VGORe.ttf);
}

@font-face {
    font-family: "Minecraft";
    src: url(fonts/MinecraftRegular-Bmg3.otf);
}


.font-minecraft {
    font-family: "Minecraft";
}
.font-minecraft-ten {
    font-family: "Minecraft Ten";
}

.w-10 {
    width: 10% !important;
}
.w-5 {
    width: 5% !important;
}
.w-5rem {
    width: 5rem !important;
}
.w-3rem {
    width: 3rem !important;
}
.w-2rem {
    width: 2rem !important;
}
.w-1-5rem {
    width: 1.5rem !important;
}