@font-face {
    font-family: "Minecraft Ten";
    src: url(fonts/MinecraftTen-VGORe.ttf);
}

@font-face {
    font-family: "Minecraft";
    src: url(fonts/MinecraftRegular-Bmg3.otf);
}

/* All screens */

#uses, #release_date {
    font-family: "Minecraft";
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.1rem gray solid;
    padding: 0.5rem;
}

#void {
    padding-top: 100rem;
}

#downloads {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#download_flex {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#download_flex div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

#download_flex img {
    width: 100%;
}

#download_flex p {
    text-align: center;
}

#downloads h2 {
    font-family: "Minecraft Ten", sans-serif;
    color: lightblue;
    text-shadow: 0rem 0rem 1rem green;
    padding-left: 1rem;
}

#download_flex a {
    border: 0.25rem black solid;
    font-family: "Minecraft";
    text-decoration: none;
    color: black;
    padding: 0;
    width: 80%;
}




/* Computer only */


@media screen and (min-width:900px) {

    #part1, #part2{
        padding-left: 30%;
        padding-right: 30%;
    }

    #uses, #release_date {
        padding-left: 2rem;
    }

    #void {
        padding-top: 75rem;
    }


    #downloads h2 {
        font-size: 3rem;
        text-align: center;
    }

    #downloads {
        width: 100%;
        gap: 3rem;
    }
    #download_flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    #download_flex div {
        width: 40%;
    }
    

    #download_flex a {
        text-align: center;
        font-size: 1.5rem;
    }

    #download_flex p {
        margin: 0.25rem;
    }
}