@font-face {
    font-family: "Minecraft Ten";
    src: url(fonts/MinecraftTen-VGORe.ttf);
}

@font-face {
    font-family: "Minecraft";
    src: url(fonts/MinecraftRegular-Bmg3.otf);
}

p, li {
    font-family: "Minecraft";
}


#menu_recipes {
    border-bottom: 0.1rem solid black;
    background-color: rgba(168, 90, 27, 0.5);
    position: sticky;
    top: 0;
}


#menu_recipes a{
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: white;
    font-family: "Minecraft", sans-serif;
    border: 0.1rem rgb(151, 68, 0) solid;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.menu_recipes_selected {
    background-color: rgba(202, 114, 42, 0.5) !important;
}


#recipes_menu {
    display: none;
    justify-content: center;
    flex-direction: column;
}


#burger_recipes {
    width: 3rem;
    transition: 0.3s;
    vertical-align: middle;
    margin: 0.25rem;
}
h2 {
    font-family: "Minecraft Ten", sans-serif;
    color: lightblue;
    text-shadow: 0rem 0rem 1rem green;
    padding-left: 2rem;
}
h3 {
    font-family: "Minecraft Ten", sans-serif;
    color: rgb(50, 252, 168);
    padding-left: 1.5rem;
}
h4 {
    font-family: "Minecraft Ten", sans-serif;
    color: rgb(30, 180, 118);
    padding-left: 1rem;
}

main p, li{
    color: white;
}

#main_recipes {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}



.regular-color {
    color: rgb(197, 197, 197);
}

.curse-color {
    color: rgb(255, 0, 0);
}

.paradoxical-color {
    color: rgb(142, 61, 224);
}

.ethereal-color {
    color: rgb(255, 230, 0);
}


.list-many {
    list-style-type: none;
}


.quote {
    background-color: rgba(255, 255, 255, 0.514);
    margin-left: 20%;
    margin-right: 20%;
    border: 0.5rem white ridge;
}

.quote_msg {
    color: rgb(15, 15, 15);
    font-style: italic;
    text-align: center;
}

.quote_author {
    color: aqua;
    text-align: end;
    
}
.quote_author>img {
    width: 2rem;
    margin-left: 0.4rem;
}

#applied_on>img {
    width: 2rem;
}

#applied_on>p {
    display: inline-block;
}

.curse_title {
    font-family: "Minecraft Ten", sans-serif;
    color: rgb(236, 99, 99);
    text-shadow: 0rem 0rem 1rem rgb(255, 0, 0);
    padding-left: 2rem;
}
.paradoxical_title {
    font-family: "Minecraft Ten", sans-serif;
    color: rgb(177, 64, 206);
    text-shadow: 0rem 0rem 1rem rgb(116, 0, 131);
    padding-left: 2rem;
}
.ethereal_title {
    font-family: "Minecraft Ten", sans-serif;
    color: rgb(236, 227, 99);
    text-shadow: 0rem 0rem 1rem rgb(255, 217, 0);
    padding-left: 2rem;
}

@media screen and (min-width=900px) {
    #menu_recipes {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    #menu_recipes a {
        padding: 0.9rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }


    #recipes_menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #burger_recipes {
        display: none;
    }
}